@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Noto+Sans+JP:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@900&family=Bagel+Fat+One&family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@900&family=Bagel+Fat+One&family=Caprasimo&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@900&family=Bagel+Fat+One&family=Caprasimo&family=Pacifico&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@900&family=Bagel+Fat+One&family=Caprasimo&family=Pacifico&family=Press+Start+2P&family=Staatliches&display=swap");

body {
  background-image: url(top-view-notebooks-calculator.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  background-attachment: fixed;
  height: 100vh;
  width: auto;
}

form input {
  border: 1px solid blue;
  border-radius: 10px;
  margin-left: 150px;
}
.button {
  border: 3px solid yellowgreen;
  color: blue;
  border-radius: 5px;
}

table {
  margin-left: 150px;
}

.button {
  font-family: "Press Start 2P", cursive;
}
